.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

.navbar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 10%;
  padding-left: 10%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
  font-weight: 400;
}

.body {
  background-color: #fff;
  font-family: Jost, sans-serif;
}

.section {
  height: auto;
  padding-top: 0px;
  padding-right: 0%;
  padding-left: 0%;
}

.heading {
  width: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: 'Playfair Display', sans-serif;
  color: #3f3f3f;
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
}

.text-block {
  width: auto;
  margin-top: 20px;
  color: #3f3f3f;
  font-size: 18px;
  line-height: 25px;
}

.div-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 35px;
  padding-right: 10%;
  padding-left: 10%;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #005593;
  color: #fff;
}

.button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 250px;
  margin-top: 0px;
  margin-right: 0px;
  padding: 20px 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  border: 2px solid #968574;
  background-color: #968574;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.button._2 {
  margin-right: 20px;
  border-color: #968574;
  background-color: transparent;
  color: #968574;
  font-size: 18px;
  font-weight: 400;
}

.button._2.margin-left {
  margin-right: 0px;
  margin-left: 20px;
  border-color: #968574;
}

.button.black-2 {
  margin-right: 0px;
  border-color: #1b1b1b;
  background-color: transparent;
  color: #1b1b1b;
}

.button.white {
  margin-top: 0px;
  margin-left: 60px;
  border-color: #fff;
  background-color: #fff;
  color: #a8aea0;
}

.button.white-outline {
  border-color: #fff;
  background-color: transparent;
}

.div-block-2 {
  display: block;
  width: auto;
  height: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  border-bottom: 1px none rgba(0, 0, 0, 0.24);
}

.nav-menu {
  display: block;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.div-block-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.text-block-2 {
  color: #bebebe;
  font-size: 12px;
  line-height: 12px;
  font-weight: 300;
}

.text-block-3 {
  line-height: 14px;
  font-weight: 400;
}

.image {
  height: 80px;
}

.div-block-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 80vh;
  padding: 20px 10%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-image: url('../images/picture-perfect-banner.jpg');
  background-position: 50% 35%;
  background-size: cover;
  background-repeat: no-repeat;
}

.section-2 {
  height: auto;
  padding: 140px 10% 100px;
}

.heading-2 {
  margin-top: 0px;
  font-family: 'Playfair Display', sans-serif;
  color: #3f3f3f;
  font-size: 38px;
  font-weight: 400;
  text-align: center;
}

.heading-2.why-choose-us {
  width: 600px;
  font-family: 'Playfair Display', sans-serif;
  line-height: 45px;
  font-weight: 500;
  text-align: center;
}

.div-block-5 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 1280px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-5._2 {
  margin-top: 40px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.div-block-6 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  padding-right: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-6._2 {
  padding-right: 0px;
  padding-left: 40px;
}

.div-block-7 {
  width: 50%;
  padding-right: 40px;
}

.div-block-7._2 {
  padding-right: 0px;
  padding-left: 40px;
}

.paragraph {
  width: 650px;
  margin-top: 20px;
  color: #888787;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
}

.div-block-8 {
  height: 4px;
  background-color: #1b1b1b;
}

.text-block-4 {
  margin-top: 20px;
  margin-bottom: 10px;
  color: #00adcb;
  font-weight: 900;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.div-block-9 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 350px;
  margin-top: 20px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.image-2 {
  width: 70%;
}

.services-item {
  width: 25%;
  height: 100%;
  margin-right: 10px;
}

.link-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  margin-right: 10px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(27, 27, 27, 0.56)), to(transparent)), url('../images/frameless-shower-screens-brisbane.jpg');
  background-image: linear-gradient(0deg, rgba(27, 27, 27, 0.56), transparent), url('../images/frameless-shower-screens-brisbane.jpg');
  background-position: 0px 0px, 100% 50%;
  background-size: auto, cover;
  color: #fff;
  font-weight: 300;
  text-decoration: none;
}

.heading-3 {
  font-weight: 500;
}

.section-3 {
  height: auto;
  padding-top: 0px;
  padding-right: 0%;
  padding-left: 0%;
}

.div-block-10 {
  width: 33.33%;
  height: 100%;
  margin-right: 10px;
  background-image: url('../images/bathroom-renovations-3.jpg');
  background-position: 100% 50%;
  background-size: cover;
}

.div-block-10._2 {
  background-image: none;
}

.div-block-10._3 {
  margin-right: 0px;
  background-image: url('../images/bathroom-renovations-4.jpg');
  background-position: 50% 50%;
}

.div-block-11 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  height: 500px;
  padding-right: 0%;
  padding-left: 0%;
}

.div-block-12 {
  height: 50%;
  margin-bottom: 0px;
  background-image: url('../images/bathroom-renovations-5.jpg');
  background-position: 40% 20%;
  background-size: auto;
}

.div-block-12._2 {
  margin-top: 10px;
  background-image: url('../images/bathroom-renovations-8.jpg');
  background-position: 50% 50%;
  background-size: auto;
  background-repeat: no-repeat;
}

.section-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  margin-top: 60px;
  padding: 140px 10%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(150, 133, 116, 0.27);
}

.div-block-13 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  max-width: 1280px;
  margin-top: 60px;
}

.div-block-14 {
  width: 50%;
  height: 100%;
}

.why-choose-us-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  margin-bottom: 20px;
  padding-left: 20px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-15 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50px;
  height: auto;
  margin-right: 10px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.image-3 {
  width: 60px;
}

.heading-4 {
  margin-top: 0px;
  margin-bottom: 5px;
  font-family: 'Playfair Display', sans-serif;
  color: #3f3f3f;
  font-size: 20px;
  font-weight: 500;
}

.text-block-5 {
  color: #1b1b1b;
  font-size: 14px;
}

.div-block-16 {
  width: 80%;
  padding-right: 40px;
}

.div-block-17 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 20px;
}

.div-block-18 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.section-5 {
  height: auto;
  padding: 100px 10% 140px;
}

.section-5._2 {
  padding-top: 40px;
}

.image-4 {
  width: 500px;
}

.div-block-19 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  height: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-20 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  height: auto;
  padding-left: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.div-block-21 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.heading-5 {
  margin-top: 0px;
  color: #1b1b1b;
  font-size: 38px;
  line-height: 44px;
  font-weight: 400;
}

.paragraph-2 {
  color: #7a7a7a;
  font-size: 16px;
  line-height: 25px;
}

.section-6 {
  height: auto;
  padding: 100px 10%;
  background-color: #1b1b1b;
}

.div-block-22 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 33.33%;
  height: 300px;
  padding-right: 40px;
  padding-left: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.text-block-6 {
  color: #fff;
  font-weight: 500;
  letter-spacing: 2px;
}

.heading-6 {
  margin-top: 20px;
  color: #fff;
  font-size: 22px;
  font-weight: 400;
  text-align: center;
}

.paragraph-3 {
  margin-top: 20px;
  color: #fff;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  text-align: center;
}

.div-block-23 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.section-7 {
  height: 500px;
  padding-right: 10%;
  padding-left: 10%;
}

.testimonials-wrapper-t6 {
  width: 100%;
  max-width: 900px;
  margin-right: auto;
  margin-left: auto;
}

.testimonials-wrapper {
  width: 90%;
  max-width: 1400px;
  margin: 0px auto;
  padding-top: 40px;
  padding-bottom: 40px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 8px;
}

.slide-nav-t6 {
  display: none;
  margin-bottom: 28px;
}

.left-arrow-t6 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 60px;
  height: 60px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.company-name-t6 {
  margin-top: 11px;
  font-size: 15px;
  font-style: italic;
  text-align: center;
}

.user-name-t6 {
  margin-top: 10px;
  color: #3f3f3f;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
}

.user-picture-wrapper-t6 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.right-arrow-t6 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 60px;
  height: 60px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.user-picture-subwrapper-t6 {
  border-radius: 100px;
  box-shadow: 1px 1px 10px 0 #cfcfcf;
}

.arrow-wrapper-t6 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50px;
  height: 50px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: solid;
  border-width: 1px;
  border-color: #f1f1f1;
  border-radius: 100px;
  background-color: #fff;
  box-shadow: 1px 1px 1px 0 #dfdfdf;
  -webkit-transition: box-shadow 200ms ease, -webkit-transform 200ms ease;
  transition: box-shadow 200ms ease, -webkit-transform 200ms ease;
  transition: box-shadow 200ms ease, transform 200ms ease;
  transition: box-shadow 200ms ease, transform 200ms ease, -webkit-transform 200ms ease;
}

.arrow-wrapper-t6:hover {
  box-shadow: 1px 1px 2px 0 #ddd;
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}

.user-picture-t6 {
  padding: 3px;
  border-radius: 100px;
}

.quote-t6 {
  max-width: 700px;
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
  font-size: 18px;
  line-height: 28px;
  font-style: italic;
  font-weight: 400;
  text-align: center;
}

.slider-t6 {
  background-color: transparent;
}

.testimonials-t6 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  padding-right: 16px;
  padding-left: 16px;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.div-block-24 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 100px 10% 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: transparent;
}

.section-8 {
  height: 600px;
  padding-right: 0%;
  padding-left: 0%;
}

.div-block-25 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  padding: 40px 140px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(27, 27, 27, 0.5)), to(rgba(27, 27, 27, 0.28))), url('../images/bottom-contact-image.jpg');
  background-image: linear-gradient(180deg, rgba(27, 27, 27, 0.5), rgba(27, 27, 27, 0.28)), url('../images/bottom-contact-image.jpg');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
}

.heading-7 {
  width: 450px;
  margin-top: 0px;
  margin-bottom: 20px;
  font-family: 'Playfair Display', sans-serif;
  color: #3f3f3f;
  font-size: 50px;
  line-height: 50px;
  font-weight: 500;
  text-align: center;
}

.footer {
  height: 500px;
  padding-right: 5%;
  padding-left: 5%;
}

.div-block-26 {
  height: auto;
  padding: 60px 5% 40px;
}

.div-block-27 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.company-blurb-footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 45%;
  height: 100%;
  padding-right: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.image-5 {
  width: 250px;
}

.paragraph-4 {
  width: 420px;
  margin-top: 20px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
}

.sitempa-footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
}

.sitemap {
  width: 60%;
  height: 100%;
  padding-top: 40px;
}

.heading-8 {
  margin-top: 0px;
  margin-bottom: 40px;
  font-family: 'Playfair Display', sans-serif;
  font-weight: 500;
}

.div-block-28 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px;
}

.link {
  color: #1b1b1b;
  font-size: 18px;
  text-decoration: none;
}

.link-2 {
  color: #1b1b1b;
  font-size: 18px;
  text-decoration: none;
}

.html-embed {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 15px;
  margin-right: 10px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-29 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px;
}

.section-9 {
  padding: 140px 10%;
}

.project-item {
  width: 33%;
  height: 200px;
}

.html-embed-2 {
  width: 35px;
  color: #996363;
}

.image-6 {
  min-height: 450px;
  min-width: 450px;
}

.div-block-31 {
  height: auto;
  margin-top: 20px;
  padding: 40px 5%;
  border-top: 1px solid rgba(0, 0, 0, 0.23);
}

.link-3 {
  color: #1b1b1b;
}

.text-block-7 {
  color: #1b1b1b;
}

.html-embed-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 30px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #a8aea0;
}

.div-block-32 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 5px;
}

.link-block-2 {
  margin-right: 5px;
}

.section-10 {
  height: auto;
  padding: 100px 10% 60px;
}

.div-block-33 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  margin-top: 60px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.div-block-33.no-top-margin {
  margin-top: 20px;
}

.link-block-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 25%;
  height: 350px;
  min-height: auto;
  min-width: 200px;
  margin-right: 10px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(26%, rgba(27, 27, 27, 0)), to(rgba(27, 27, 27, 0.64))), url('../images/wall-tiling.jpg');
  background-image: linear-gradient(180deg, rgba(27, 27, 27, 0) 26%, rgba(27, 27, 27, 0.64)), url('../images/wall-tiling.jpg');
  background-position: 0px 0px, 100% 50%;
  background-size: auto, cover;
  color: #fff;
  text-decoration: none;
}

.link-block-3._4 {
  display: none;
  margin-right: 0px;
}

.link-block-3._1 {
  width: 33%;
  height: 250px;
  margin-right: 20px;
  padding-top: 20px;
  padding-left: 0px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  background-image: url('../images/picture-perfect-1.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.link-block-3._1.no-margin {
  margin-right: 0px;
  background-image: url('../images/picture-perfect-3.jpg');
}

.link-block-3._1.no-margin._6th {
  background-image: url('../images/picture-perfect-7.jpg');
}

.link-block-3._1._2 {
  background-image: url('../images/picture-perfect-2.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.link-block-3._1._4th {
  background-image: url('../images/picture-perfect-5.jpg');
}

.link-block-3._1._5th {
  background-image: url('../images/picture-perfect-6.jpg');
}

.link-block-3._2 {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(26%, rgba(27, 27, 27, 0)), to(rgba(27, 27, 27, 0.64))), url('../images/bathroom-renovations-6.jpg');
  background-image: linear-gradient(180deg, rgba(27, 27, 27, 0) 26%, rgba(27, 27, 27, 0.64)), url('../images/bathroom-renovations-6.jpg');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
}

.link-block-3._3 {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(25%, rgba(27, 27, 27, 0)), to(rgba(27, 27, 27, 0.64))), url('../images/precise-3.jpg');
  background-image: linear-gradient(180deg, rgba(27, 27, 27, 0) 25%, rgba(27, 27, 27, 0.64)), url('../images/precise-3.jpg');
  background-position: 0px 0px, 50% 50%;
}

.heading-9 {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 10px 20px;
  color: #3f3f3f;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1.4px;
}

.div-block-34 {
  width: 2px;
  height: 30px;
  margin-bottom: 5px;
  background-color: hsla(0, 0%, 100%, 0.76);
  color: #fff;
}

.div-block-35 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding-top: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.div-block-36 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.div-block-37 {
  height: 5px;
  background-color: #968574;
}

.div-block-38 {
  width: 40%;
  max-width: 600px;
  min-width: 600px;
  padding: 40px;
  background-color: hsla(0, 0%, 100%, 0.91);
}

.div-block-39 {
  width: 100%;
  height: auto;
  margin-top: 40px;
}

.grid {
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

.div-block-40 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.html-embed-4 {
  width: 60px;
  height: 60px;
  color: #968574;
}

.heading-10 {
  width: 80%;
  margin-left: 20px;
  color: #3f3f3f;
  font-weight: 500;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.div-block-41 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 0px;
  background-color: #fff;
}

.div-block-42 {
  width: 5px;
  background-color: #c1ad9d;
}

.section-11 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 100px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(193, 173, 157, 0.76);
}

.heading-11 {
  overflow: visible;
  margin-top: 0px;
  margin-right: 20px;
  margin-bottom: 0px;
  font-family: 'Playfair Display', sans-serif;
  color: #fff;
  font-size: 50px;
  font-weight: 400;
  white-space: nowrap;
}

.section-12 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 100px;
  padding-bottom: 60px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-43 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
  max-width: 1280px;
  margin-top: 40px;
  color: #a8aea0;
}

.process-tile {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 33%;
  height: 100%;
  padding-right: 40px;
  padding-left: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.text-block-8 {
  margin-left: 10px;
  font-family: 'Playfair Display', sans-serif;
  color: rgba(193, 173, 157, 0.66);
  font-size: 60px;
  line-height: 60px;
  letter-spacing: 10px;
}

.heading-12 {
  margin-top: -20px;
  color: #3f3f3f;
  font-size: 25px;
  line-height: 25px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
}

.text-block-9 {
  color: #3f3f3f;
  text-align: center;
}

.div-block-44 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  height: auto;
  max-width: 1280px;
  margin-top: 40px;
  padding: 40px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #968574;
}

.paragraph-5 {
  width: 60%;
  color: #fff;
  font-size: 18px;
  line-height: 22px;
}

.div-block-45 {
  width: 50%;
}

.div-block-46 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  margin-top: 35px;
  margin-bottom: 40px;
  margin-left: -72px;
  padding: 0px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: #fff;
}

.paragraph-6 {
  margin-bottom: 0px;
  font-size: 16px;
}

.div-block-47 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 200px;
  max-width: 1280px;
  margin-top: 40px;
}

.div-block-48 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  height: 100%;
  padding-right: 0px;
  padding-left: 0px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #f2f2f2;
}

.div-block-49 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  height: 100%;
  padding-right: 40px;
  padding-left: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fafafa;
}

.div-block-50 {
  width: 99%;
  padding: 20px;
}

.heading-13 {
  width: 250px;
  margin-top: 0px;
  margin-bottom: 20px;
  font-family: 'Playfair Display', sans-serif;
  color: #3f3f3f;
  text-align: center;
}

.div-block-51 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: hsla(0, 0%, 100%, 0.91);
}

.heading-14 {
  width: 90%;
  margin-top: 0px;
  margin-right: 20px;
  margin-bottom: 0px;
  font-family: 'Playfair Display', sans-serif;
  color: #3f3f3f;
  font-weight: 400;
}

.square-button-light {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 40px;
  height: 40px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: solid;
  border-width: 1px;
  border-color: #3f3f3f;
  background-color: rgba(241, 242, 245, 0.06);
}

.icon-arrow-diag-hover {
  position: absolute;
  z-index: 4;
  width: 16px;
  height: 16px;
  opacity: 0;
}

.light-overlay {
  position: absolute;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
  height: auto;
  background-color: #3f3f3f;
  -webkit-perspective-origin: 50% 100%;
  perspective-origin: 50% 100%;
  -webkit-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
}

.icon-arrow-diag {
  width: 16px;
}

.link-block-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  padding-right: 40px;
  padding-left: 40px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-decoration: none;
}

.footer-2 {
  padding-top: 60px;
  padding-bottom: 40px;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  text-align: center;
}

.footer-flex-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  text-align: left;
}

.footer-logo-link {
  width: 20%;
  max-height: 60px;
  min-width: 60px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.footer-image {
  width: auto;
  height: 100%;
  max-width: none;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: 0% 50%;
  object-position: 0% 50%;
}

.footer-heading {
  margin-top: 0px;
  margin-bottom: 20px;
  font-family: 'Playfair Display', sans-serif;
  font-size: 14px;
  line-height: 1.5;
}

.footer-link {
  display: block;
  margin-bottom: 10px;
  color: #444;
  text-decoration: none;
}

.footer-link:hover {
  text-decoration: underline;
}

.link-4 {
  color: #3f3f3f;
}

.div-block-55 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: visible;
  width: auto;
}

.image-8 {
  width: 100px;
  margin-top: 20px;
}

.div-block-56 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-57 {
  display: none;
}

.text-block-11 {
  margin-top: 10px;
  color: #3f3f3f;
  font-style: normal;
  font-weight: 500;
  text-decoration: underline;
}

.html-embed-5 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 30px;
  margin-right: 5px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #968574;
}

.list-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.html-embed-6 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 30px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #00adcb;
}

.div-block-58 {
  width: 70px;
  height: 5px;
  margin-top: 10px;
  background-color: #968574;
}

@media screen and (min-width: 1440px) {
  .section-10 {
    padding-right: 10%;
    padding-left: 10%;
  }

  .div-block-44 {
    height: 200px;
    margin-top: 60px;
  }
}

@media screen and (min-width: 1920px) {
  .section-2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-right: 5%;
    padding-left: 5%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .section-4 {
    background-color: rgba(168, 174, 160, 0.1);
  }

  .footer {
    display: block;
    height: auto;
    padding-right: 10%;
    padding-left: 10%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }

  .sitempa-footer {
    width: 50%;
  }

  .div-block-44 {
    height: auto;
  }

  .div-block-47 {
    max-width: none;
  }
}

@media screen and (max-width: 991px) {
  .heading {
    font-size: 55px;
    line-height: 60px;
  }

  .text-block {
    line-height: 22px;
  }

  .div-block-4 {
    padding-bottom: 40px;
    padding-left: 40px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.29))), url('../images/bathroom-renovations-5.jpg');
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.29)), url('../images/bathroom-renovations-5.jpg');
    background-position: 0px 0px, 50% 35%;
    background-size: auto, cover;
    background-repeat: repeat, no-repeat;
  }

  .heading-2 {
    margin-bottom: 0px;
  }

  .heading-2.why-choose-us {
    font-size: 26px;
    line-height: 32px;
  }

  .div-block-7 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .div-block-7._2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .paragraph {
    margin-top: 10px;
    font-size: 14px;
    line-height: 20px;
  }

  .section-3 {
    height: auto;
  }

  .section-4 {
    margin-top: 60px;
    padding: 100px 5%;
  }

  .div-block-13 {
    margin-top: 20px;
  }

  .why-choose-us-item {
    height: auto;
  }

  .heading-4 {
    font-size: 18px;
  }

  .text-block-5 {
    font-size: 14px;
  }

  .div-block-19 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .heading-5 {
    font-size: 32px;
    line-height: 40px;
  }

  .paragraph-2 {
    font-size: 14px;
  }

  .section-6 {
    padding-right: 5%;
    padding-left: 5%;
  }

  .div-block-22 {
    padding-right: 20px;
    padding-left: 20px;
  }

  .heading-6 {
    font-size: 20px;
  }

  .paragraph-3 {
    font-size: 14px;
  }

  .testimonials-wrapper {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
  }

  .left-arrow-t6 {
    left: 0%;
    top: auto;
    right: auto;
    bottom: 0%;
  }

  .right-arrow-t6 {
    left: auto;
    top: auto;
    right: 0%;
    bottom: 0%;
  }

  .div-block-24 {
    padding-right: 5%;
    padding-left: 5%;
  }

  .div-block-26 {
    padding-right: 5%;
    padding-left: 5%;
  }

  .company-blurb-footer {
    width: 40%;
  }

  .paragraph-4 {
    width: auto;
  }

  .sitempa-footer {
    width: 60%;
  }

  .sitemap {
    padding-top: 20px;
  }

  .heading-8 {
    font-size: 20px;
  }

  .link {
    font-size: 14px;
  }

  .link-2 {
    font-size: 14px;
  }

  .image-6 {
    min-height: auto;
    min-width: auto;
  }

  .section-10 {
    height: auto;
    padding-bottom: 60px;
  }

  .link-block-3 {
    height: 250px;
    min-width: auto;
  }

  .link-block-3._1 {
    height: 250px;
  }

  .link-block-3._2 {
    height: 250px;
  }

  .link-block-3._3 {
    height: 250px;
  }

  .footer-2 {
    padding-right: 20px;
    padding-left: 20px;
  }
}

@media screen and (max-width: 767px) {
  .section {
    padding-right: 20px;
    padding-left: 20px;
  }

  .heading {
    font-size: 45px;
    line-height: 45px;
  }

  .text-block {
    font-size: 16px;
    line-height: 20px;
  }

  .button {
    width: 200px;
    font-size: 18px;
  }

  .section-2 {
    padding-top: 60px;
    padding-right: 60px;
    padding-left: 60px;
  }

  .heading-2.why-choose-us {
    width: auto;
  }

  .div-block-5 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .div-block-5._2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }

  .div-block-6 {
    width: 100%;
  }

  .div-block-6._2 {
    padding-left: 0px;
  }

  .div-block-7 {
    width: 100%;
    padding-right: 0px;
  }

  .div-block-7._2 {
    width: 100%;
    padding-left: 0px;
  }

  .section-3 {
    display: none;
  }

  .div-block-11 {
    height: 350px;
    padding-right: 20px;
    padding-left: 20px;
  }

  .section-4 {
    margin-top: 0px;
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .div-block-13 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .div-block-14 {
    width: 100%;
  }

  .section-5 {
    padding: 60px;
  }

  .div-block-19 {
    width: 100%;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .div-block-20 {
    width: 100%;
    padding-left: 0px;
  }

  .div-block-21 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .div-block-22 {
    width: 100%;
    height: auto;
    margin-bottom: 40px;
  }

  .div-block-23 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .testimonials-wrapper {
    margin-right: auto;
    margin-left: auto;
  }

  .slider-t6 {
    height: auto;
  }

  .testimonials-t6 {
    padding: 40px 10px;
  }

  .div-block-24 {
    padding-top: 60px;
  }

  .div-block-27 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .company-blurb-footer {
    width: 100%;
  }

  .sitempa-footer {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .image-6 {
    min-height: auto;
    min-width: auto;
  }

  .section-10 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: auto;
    padding-bottom: 60px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .div-block-33 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .link-block-3 {
    width: 100%;
  }

  .link-block-3._1 {
    width: 100%;
    margin-bottom: 10px;
  }

  .link-block-3._2 {
    width: 100%;
    margin-bottom: 10px;
  }

  .link-block-3._3 {
    width: 100%;
    margin-bottom: 10px;
  }

  .footer-2 {
    padding: 40px 20px;
  }

  .footer-image {
    -o-object-fit: contain;
    object-fit: contain;
  }
}

@media screen and (max-width: 479px) {
  .navbar {
    width: 100%;
    padding: 0px 0%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .section {
    padding-right: 0px;
    padding-left: 0px;
  }

  .heading {
    font-size: 35px;
    line-height: 40px;
    font-weight: 400;
    text-align: center;
  }

  .text-block {
    width: auto;
    margin-bottom: 20px;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
  }

  .button {
    width: 170px;
    margin-top: 0px;
    margin-right: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 16px;
  }

  .button._2 {
    margin-top: 10px;
  }

  .button._2.margin-left {
    margin-left: 0px;
  }

  .button.black-2 {
    margin-top: 10px;
  }

  .button.white {
    width: 190px;
    margin-left: 0px;
    padding-right: 10px;
    padding-left: 10px;
  }

  .div-block-2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom-style: none;
  }

  .nav-menu {
    display: block;
    background-color: #fff;
  }

  .div-block-3 {
    display: none;
  }

  .image {
    width: auto;
    height: 50px;
    margin-right: 27px;
  }

  .div-block-4 {
    height: auto;
    padding: 60px 20px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.29))), url('../images/picture-perfect-banner.jpg');
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.29)), url('../images/picture-perfect-banner.jpg');
    background-position: 0px 0px, 100% 50%;
    background-size: auto, cover;
    background-repeat: repeat, no-repeat;
  }

  .section-2 {
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
  }

  .heading-2 {
    font-size: 28px;
  }

  .heading-2.why-choose-us {
    margin-bottom: 20px;
  }

  .div-block-5 {
    padding-right: 0px;
    padding-left: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .div-block-6 {
    padding-right: 20px;
    padding-left: 20px;
  }

  .div-block-7._2 {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -o-object-fit: contain;
    object-fit: contain;
  }

  .paragraph {
    width: auto;
    line-height: 22px;
  }

  .section-3 {
    height: auto;
  }

  .div-block-11 {
    display: none;
    height: 250px;
  }

  .section-4 {
    margin-top: 0px;
    padding-top: 60px;
    padding-right: 20px;
    padding-left: 20px;
  }

  .why-choose-us-item {
    padding-left: 0px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .heading-4 {
    text-align: left;
  }

  .text-block-5 {
    text-align: left;
  }

  .div-block-16 {
    padding-right: 0px;
  }

  .div-block-17 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .div-block-18 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .section-5 {
    padding-right: 20px;
    padding-left: 20px;
  }

  .image-4 {
    width: 100%;
  }

  .heading-5 {
    font-size: 28px;
    line-height: 36px;
  }

  .paragraph-2 {
    line-height: 22px;
  }

  .section-6 {
    padding-bottom: 60px;
  }

  .testimonials-wrapper {
    width: 100%;
    padding-top: 0px;
    padding-bottom: 0px;
    border-radius: 0px;
  }

  .slider-t6 {
    padding-bottom: 60px;
  }

  .testimonials-t6 {
    width: 100%;
    padding-top: 0px;
  }

  .div-block-25 {
    padding-right: 20px;
    padding-left: 20px;
  }

  .heading-7 {
    width: auto;
    font-size: 38px;
  }

  .company-blurb-footer {
    padding-right: 0px;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .paragraph-4 {
    text-align: left;
  }

  .sitempa-footer {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .sitemap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .sitemap._2 {
    display: none;
  }

  .heading-8 {
    text-align: center;
  }

  .div-block-28 {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .html-embed {
    height: 15px;
  }

  .div-block-29 {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .menu-button {
    position: relative;
    margin-left: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .menu-button.w--open {
    background-color: #968574;
  }

  .image-6 {
    width: 100%;
    min-height: auto;
    min-width: auto;
    -o-object-fit: contain;
    object-fit: contain;
  }

  .image-7 {
    width: 100%;
  }

  .div-block-30 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .brand {
    position: relative;
  }

  .section-10 {
    height: auto;
    padding: 40px 20px 60px;
  }

  .div-block-33 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .div-block-33.no-top-margin {
    margin-top: 0px;
  }

  .link-block-3 {
    width: auto;
    height: 350px;
    margin-right: 0px;
  }

  .link-block-3._1 {
    width: 100%;
    height: 225px;
    margin-bottom: 10px;
  }

  .link-block-3._2 {
    width: auto;
    margin-right: 0px;
    margin-bottom: 10px;
  }

  .link-block-3._3 {
    height: 350px;
    margin-right: 0px;
    margin-bottom: 10px;
  }

  .div-block-35 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-top: 0px;
    padding-left: 20px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #968574;
  }

  .div-block-36 {
    display: none;
  }

  .div-block-38 {
    width: 100%;
    max-width: none;
    min-width: auto;
    padding-right: 20px;
    padding-left: 20px;
  }

  .grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto auto;
  }

  .div-block-40 {
    height: 80px;
    padding-left: 20px;
  }

  .html-embed-4 {
    color: #968574;
  }

  .heading-10 {
    font-size: 16px;
  }

  .section-11 {
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .heading-11 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 40px;
    text-align: center;
  }

  .section-12 {
    padding-top: 40px;
  }

  .div-block-43 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .process-tile {
    width: 100%;
    margin-bottom: 20px;
  }

  .div-block-44 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .paragraph-5 {
    width: auto;
    margin-bottom: 20px;
    text-align: center;
  }

  .div-block-45 {
    width: 100%;
  }

  .div-block-46 {
    margin-top: -41px;
    margin-left: 0px;
  }

  .div-block-47 {
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .div-block-48 {
    width: 100%;
  }

  .div-block-49 {
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .link-block-4 {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .footer-2 {
    padding-right: 20px;
    padding-left: 20px;
    text-align: left;
  }

  .footer-flex-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .footer-logo-link {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: auto;
    height: 60px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .footer-heading {
    margin-top: 20px;
  }

  .link-4 {
    color: rgba(63, 63, 63, 0.55);
  }

  .div-block-52 {
    display: none;
  }

  .div-block-53 {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .div-block-54 {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .text-block-10 {
    width: 50%;
    color: rgba(63, 63, 63, 0.62);
    text-align: center;
  }

  .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .link-5 {
    margin-left: 0px;
    color: #fff;
    letter-spacing: 1.6px;
    text-decoration: none;
  }

  .icon {
    color: #fff;
  }

  .div-block-57 {
    display: block;
  }

  .text-block-11 {
    font-weight: 400;
    letter-spacing: 1.5px;
    text-transform: none;
  }
}

#w-node-ec719c94-8799-ef1c-cdca-7b0b57282202-e9bace93 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_8a2cb254-ab29-37ab-530d-34f1a0db9219-e9bace93 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-b4bb8f6d-5774-ed6d-252b-5d3e5f7552e4-e9bace93 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_86ec4f64-20e2-4e2d-4266-ddfdafd0b5b5-e9bace93 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-d1160f7c-7ef8-b10c-7cb3-89faa8255aab-e9bace93 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-f7520953-7d95-d1e9-eff3-dbd78b362f1a-e9bace93 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

